<div class="resort-card">
  <%= link_to "", ski_resort_path(ski_resort.id), style: 'position: absolute; height: 100%; width: 100%;' %>
  <h4 class="resort-name"><strong><%= ski_resort.name %></strong></h4>
  <div class="d-flex">
    <div class="info flex-column">
      <div class="current-snow">
        <%= render "shared/current_cond_icon", ski_resort: ski_resort, current_snow: true %>
      </div>
      <div class="ratings">
        <ul class="list-unstyled">
          <li class="dif d-flex justify-content-between align-items-baseline">
            Lift waiting times
            <div>
              <%= ski_resort.average_of("lift_wait_rating") %>
              <i class="fa-solid fa-star" style="color: #2d5c9e;"></i>
            </div>
          </li>
          <li class="dif d-flex justify-content-between align-items-baseline">
            Food
            <div>
              <%= ski_resort.average_of("food_rating") %>
              <i class="fa-solid fa-star" style="color: #2d5c9e;"></i>
            </div>
          </li>
          <li class="dif d-flex justify-content-between align-items-baseline">
            Crowded?
            <div>
              <%= ski_resort.average_of("crowd_rating") %>
              <i class="fa-solid fa-star" style="color: #2d5c9e;"></i>
            </div>
          </li>
          <li class="dif d-flex justify-content-between align-items-baseline">
            Location
            <div>
              <%= ski_resort.average_of("location_rating") %>
              <i class="fa-solid fa-star" style="color: #2d5c9e;"></i>
            </div>
          </li>
          <li class="dif d-flex justify-content-between align-items-baseline">
            Overall price
            <div>
              <%= ski_resort.average_of("price_rating") %>
              <i class="fa-solid fa-star" style="color: #2d5c9e;"></i>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="image">
      <% if ski_resort.photo.attached? %>
        <%= cl_image_tag ski_resort.photo.key, class: "image" %>
      <% else %>
        <%= image_tag "ski_resort.jpg", class: "image" %>
      <% end %>
    </div>
  </div>
</div>
